* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This helps with sizing */

}

html, body {
    height: 100%; /* Make html and body full height */
}

.App {
    height: 100%; /* Make the App container full height */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    text-align: center;
}

.App-header {
    background-color: #404646;
    padding: 20px; /* Add some padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    flex: 1; /* This allows the App-body to grow and fill the space */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content */
    align-items: center; /* Center content */
    background-color: #404646; /* Set background color */
}


.map {
    flex: 1;
    margin: auto; /* Center map */
    z-index: 0; /* Ensure it's behind other components */
}

.App-link {
    color: #61dafb;
}

.search-bar {
    width: 50%; /* Adjust for larger screens */
    z-index: 0;
}

@media (max-width: 600px) {
    .search-bar {
        width: 90%; /* Adjust for smaller screens */
    }

    .map {
        width: 100%; /* Full width on smaller screens */
    }
}
